<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<connectionStrings>
		<add name="DBconn"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;
       AttachDbFilename=C:\Users\Museum\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\web.mdf;
       Integrated Security=True;
       Connect Timeout=30"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/>
	</system.web>
</configuration>